<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Comment the following section for Sitecore 7.5+ search -->
    <search>
      <configuration>
        <indexes>
          <index id="WeBlog" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">WeBlog</param>
            <Analyzer ref="search/analyzer"/>
            <locations hint="list:AddCrawler">
              <master type="Sitecore.Modules.WeBlog.Search.Crawlers.DatabaseCrawler,Sitecore.Modules.WeBlog">
                <!-- Don't index all fields so we can control the values and fields in the index -->
                <IndexAllFields>false</IndexAllFields>
                <Database>master</Database>
                <Root contentRoot="$(ContentRoot)">/sitecore/content</Root>
                <include hint="list:IncludeTemplate" entryTemplate="$(EntryTemplateID)" commentTemplate="$(CommentTemplateID)">
                  <entry>$(entryTemplate)</entry>
                  <comment>$(commentTemplate)</comment>
                </include>
                <multiListFields hint="list:AddMultilistField">
                  <category>category</category>
                </multiListFields>
                <includeFields hint="list:AddDataField">
                  <tags>tags</tags>
                  <entry-date>entry date</entry-date>
                </includeFields>
                <Tags>master WeBlog</Tags>
              </master>
              <web type="Sitecore.Modules.WeBlog.Search.Crawlers.DatabaseCrawler,Sitecore.Modules.WeBlog">
                <!-- Don't index all fields so we can control the values and fields in the index -->
                <IndexAllFields>false</IndexAllFields>
                <Database>web</Database>
                <Root contentRoot="$(ContentRoot)">/sitecore/content</Root>
                <include hint="list:IncludeTemplate" entryTemplate="$(EntryTemplateID)" commentTemplate="$(CommentTemplateID)">
                  <entry>$(entryTemplate)</entry>
                  <comment>$(commentTemplate)</comment>
                </include>
                <multiListFields hint="list:AddMultilistField">
                  <category>category</category>
                </multiListFields>
                <includeFields hint="list:AddDataField">
                  <tags>tags</tags>
                  <entry-date>entry date</entry-date>
                </includeFields>
                <tags>web WeBlog</tags>
              </web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>