<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="EntryTemplateID" value="{5FA92FF4-4AC2-48E2-92EB-E1E4914677B0}"/>
    <sc.variable name="BlogTemplateID" value="{46663E05-A6B8-422A-8E13-36CD2B041278}"/>
    <sc.variable name="CategoryTemplateID" value="{61FF8D49-90D7-4E59-878D-DF6E03400D3B}"/>
    <sc.variable name="CommentTemplateID" value="{70949D4E-35D8-4581-A7A2-52928AA119D5}"/>
    <sc.variable name="BlogBranchTemplateID" value="{6FC4278C-E043-458B-9D5D-BBA775A9C386}"/>
    <sc.variable name="RSSFeedTemplateID" value="{B960CBE4-381F-4A2B-9F44-A43C7A991A0B}"/>
    <sc.variable name="ContentRoot" value="/sitecore/content"/>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Sharedsource.Tasks.NewsMover, Sitecore.Sharedsource.NewsMover" method="OnItemSaved">
          <database>master</database>
          <templates hint="raw:AddTemplateConfiguration">
            <template id="modules/WeBlog/BlogEntry" sort="Descending">
              <DateField>__created</DateField>
              <YearTemplate formatString="yyyy">Common/Folder</YearTemplate>
              <MonthTemplate formatString="MMMM">Common/Folder</MonthTemplate>
              <!-- Uncomment the following line if you have too many posts per month (more than 100) -->
              <!--<DayTemplate formatString="dd">Common/Folder</DayTemplate>-->
            </template>
          </templates>
        </handler>
        <!-- Keep the post and comment handlers seperate to ensure comments are structured below posts and not within the same folder structure as posts -->
        <handler type="Sitecore.Sharedsource.Tasks.NewsMover, Sitecore.Sharedsource.NewsMover" method="OnItemSaved" use="comments">
          <database>master</database>
          <templates hint="raw:AddTemplateConfiguration">
            <template id="modules/WeBlog/BlogComment" sort="Descending">
              <DateField>__created</DateField>
              <YearTemplate formatString="yyyy">Common/Folder</YearTemplate>
              <MonthTemplate formatString="MMMM">Common/Folder</MonthTemplate>
              <!-- Uncomment the following line if you have too many posts per month (more than 100) -->
              <!--<DayTemplate formatString="dd">Common/Folder</DayTemplate>-->
            </template>
          </templates>
        </handler>
        <handler type="Sitecore.Modules.WeBlog.Globalization.ItemAndPublishEventHandler, Sitecore.Modules.WeBlog" method="OnItemSaved"/>
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.Modules.WeBlog.Globalization.ItemAndPublishEventHandler, Sitecore.Modules.WeBlog" method="OnItemSavedRemote"/>
      </event>
      <event name="publish:end">
        <handler type="Sitecore.Modules.WeBlog.Globalization.ItemAndPublishEventHandler, Sitecore.Modules.WeBlog" method="OnPublishEnd"/>
      </event>
    </events>
    <commands>
      <command name="blog:newblog" type="Sitecore.Modules.WeBlog.Commands.NewBlog,Sitecore.Modules.WeBlog"/>
      <command name="blog:newentry" type="Sitecore.Modules.WeBlog.Commands.NewEntry,Sitecore.Modules.WeBlog"/>
      <command name="blog:newcategory" type="Sitecore.Modules.WeBlog.Commands.NewCategory,Sitecore.Modules.WeBlog"/>
      <command name="blog:blogsettings" type="Sitecore.Modules.WeBlog.Commands.EditBlogSettings,Sitecore.Modules.WeBlog"/>
      <command name="blog:entrysettings" type="Sitecore.Modules.WeBlog.Commands.EditEntrySettings,Sitecore.Modules.WeBlog"/>
      <command name="blog:import" type="Sitecore.Modules.WeBlog.Commands.Import,Sitecore.Modules.WeBlog"/>
      <command name="blog:rebuildindex" type="Sitecore.Modules.WeBlog.Commands.RebuildIndex,Sitecore.Modules.WeBlog"/>
    </commands>
    <pipelines>
      <preprocessRequest>
        <processor patch:before="*[1]" type="Sitecore.Modules.WeBlog.Pipelines.CaptchaProcessor,Sitecore.Modules.WeBlog"/>
      </preprocessRequest>
      <expandInitialFieldValue>
        <processor patch:after="*[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']" type="Sitecore.Modules.WeBlog.Pipelines.TokenReplacer, Sitecore.Modules.WeBlog" />
      </expandInitialFieldValue>
			<weblogCreateComment>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.DuplicateSubmissionGuard"/>
				<processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.CreateCommentItem"/>
				<!--<processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.AkismetSpamCheck"/>-->
				<processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.WorkflowSubmit"/>
			</weblogCreateComment>
			<weblogGetSummary>
				<processor type="Sitecore.Modules.WeBlog.Pipelines.GetSummary.FromField">
					<!-- Optionally specify different field to pull the summary from. Defaults to 'Introduction' field -->
					<!--<FieldName>Content</FieldName>-->
				</processor>
				<processor type="Sitecore.Modules.WeBlog.Pipelines.GetSummary.FirstContentBlock"/>
				<processor type="Sitecore.Modules.WeBlog.Pipelines.GetSummary.AutoGenerate">
					<MaximumCharacterCount>500</MaximumCharacterCount>
					<StripTags>true</StripTags>
				</processor>
				<processor type="Sitecore.Modules.WeBlog.Pipelines.GetSummary.Wrap">
					<WrappingTag>p</WrappingTag>
				</processor>
			</weblogGetSummary>
      <NewsMover.MoveCompleted>
        <processor type="Sitecore.Sharedsource.NewsMover.Pipelines.RefreshContentTree, Sitecore.Sharedsource.NewsMover" />
      </NewsMover.MoveCompleted>
    </pipelines>
    <settings>
      <!-- Blog.CommentService.Enable: 
            Enable this setting to submit comments to a separate server using WCF.
            Used in a multi-server setup  -->
      <setting name="WeBlog.CommentService.Enable" value="false"/>

      <!-- The ID of the Workflow command to execute after creating a comment -->
      <setting name="WeBlog.Comments.Workflow.Command.Created" value="{EC5BE18D-B211-4238-BC9D-B1ADC31CFDFB}"/>

			<!-- The ID of the Workflow command to execute if the comment is classified as spam -->
			<setting name="WeBlog.Comments.Workflow.Command.Spam" value="{536C4CA1-B9EB-4CA8-9306-770478E1CCD6}"/>
        
      <!-- To use reCAPTCHA instead of the default captcha:
                * In the Entry template's Standard Values, remove the SitecoreCaptcha sublayout
                * Add the reCAPTCHA sublayout to the weblog-comment-form placeholder
                * Uncomment the settings below and enter your reCAPTCHA keys
                * Publish
      -->
      <!--
      <setting name="WeBlog.reCAPTCHA.PrivateKey" value=""/>
      <setting name="WeBlog.reCAPTCHA.PublicKey" value=""/>
      -->
      
      <!-- To enable AddThis Analytics, enter your AddThis account name. -->
      <setting name="WeBlog.AddThisAccountName" value=""/>
        
      <!-- To enable ShareThis:
                * In the Entry template's Standard Values, remove the ShareEntry-AddThis sublayout
                * Add the ShareEntry-ShareThis sublayout to the weblog-below-entry placeholder
                * Add your ShareThis publisher ID below (this appears to be required for ShareThis)
                * Publish
      -->
      <setting name="WeBlog.ShareThisPublisherID" value=""/>
			
			<!-- To use Akismet for spam detection provide an Akismet API key below and enable Akismet 
						in the blog settings
			-->
			<setting name="WeBlog.Akismet.APIKey" value=""/>
        
      <!-- TemplateIDs: 
            Various templateIDs which are used in the business logic
      -->
      <setting name="WeBlog.EntryTemplateID" value="$(EntryTemplateID)" />
      <setting name="WeBlog.BlogTemplateID" value="$(BlogTemplateID)" />
      <setting name="WeBlog.CategoryTemplateID" value="$(CategoryTemplateID)" />
      <setting name="WeBlog.CommentTemplateID" value="$(CommentTemplateID)" />
      <setting name="WeBlog.BlogBranchTemplateID" value="$(BlogBranchTemplateID)" />
      <setting name="WeBlog.RSSFeedTemplateID" value="$(RSSFeedTemplateID)" />
        
      <!-- Blog settings paths -->
      <!--<setting name="WeBlog.SettingsRoot" value="/sitecore/system/Modules/Blog/Blogs"/>-->
      <!-- Blog.ThemesRoot: Path to item containing all available blog themes -->
      <setting name="WeBlog.ThemesRoot" value="/sitecore/system/Modules/WeBlog/Themes"/>
      
      <!-- Blog.ContentRootPath: Path under which all blogs are located -->
      <setting name="WeBlog.ContentRootPath" value="$(ContentRoot)"/>
      
      <!-- Gravatar settings -->
      <setting name="WeBlog.Gravatar.ImageService.Url" value="http://www.gravatar.com/avatar"/>
      
      <!-- Search index settings -->
      <setting name="WeBlog.SearchIndexName" value="WeBlog"/>

      <!--  Max Timeout 
            Sets the maximum time when the captcha is expired.
            Default value: "00:01:30" (90 seconds)
	    Minimum value: "00:00:15" (15 seconds)
      -->
      <setting name="WeBlog.Captcha.MaxTimeout" value="00:03:00" />

      <!--  Min Timeout 
            Sets the minimum time after that the captcha can be validated.
            Default value: "00:00:03" (03 seconds)
	    Maximum value: "00:00:15" (15 seconds)
      -->
      <setting name="WeBlog.Captcha.MinTimeout" value="00:00:08" />

      <!-- Globalization / dictionary settings -->
      <setting name="WeBlog.Globalization.CacheSize" value="500KB" />
      <setting name="WeBlog.Globalization.DictonaryPath" value="/sitecore/system/Dictionary/WeBlog" />
      <setting name="WeBlog.Globalization.DictonaryEntryTemplateId" value="{6D1CD897-1936-4A3A-A511-289A94C2A7B1}" />
      
			<!-- Manager class implementations -->
			<setting name="WeBlog.Implementation.BlogManager" value="Sitecore.Modules.WeBlog.Managers.BlogManager"/>
			<setting name="WeBlog.Implementation.CategoryManager" value="Sitecore.Modules.WeBlog.Managers.CategoryManager"/>
			<setting name="WeBlog.Implementation.CommentManager" value="Sitecore.Modules.WeBlog.Managers.CommentManager"/>
			<setting name="WeBlog.Implementation.EntryManager" value="Sitecore.Modules.WeBlog.Managers.EntryManager"/>
			<setting name="WeBlog.Implementation.TagManager" value="Sitecore.Modules.WeBlog.Managers.TagManager"/>
    </settings>
    <databases>
      <database id="web">
        <Engines.HistoryEngine.Storage>
          <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
            <param connectionStringName="$(id)" />
            <EntryLifeTime>30.00:00:00</EntryLifeTime>
          </obj>
        </Engines.HistoryEngine.Storage>
        <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
      </database>
    </databases>
    <search>
      <configuration>
        <indexes>
          <index id="WeBlog" type="Sitecore.Search.Index, Sitecore.Kernel">
            <param desc="name">$(id)</param>
            <param desc="folder">WeBlog</param>
            <Analyzer ref="search/analyzer"/>
            <locations hint="list:AddCrawler">
              <master type="Sitecore.Modules.WeBlog.Search.Crawlers.DatabaseCrawler,Sitecore.Modules.WeBlog">
                <!-- Don't index all fields so we can control the values and fields in the index -->
                <IndexAllFields>false</IndexAllFields>
                <Database>master</Database>
                <Root contentRoot="$(ContentRoot)">/sitecore/content</Root>
                <include hint="list:IncludeTemplate" entryTemplate="$(EntryTemplateID)" commentTemplate="$(CommentTemplateID)">
                  <entry>$(entryTemplate)</entry>
                  <comment>$(commentTemplate)</comment>
                </include>
                <multiListFields hint="list:AddMultilistField">
                  <category>category</category>
                </multiListFields>
                <includeFields hint="list:AddDataField">
                  <tags>tags</tags>
                </includeFields>
                <Tags>master WeBlog</Tags>
              </master>
              <web type="Sitecore.Modules.WeBlog.Search.Crawlers.DatabaseCrawler,Sitecore.Modules.WeBlog">
                <!-- Don't index all fields so we can control the values and fields in the index -->
                <IndexAllFields>false</IndexAllFields>
                <Database>web</Database>
                <Root contentRoot="$(ContentRoot)">/sitecore/content</Root>
                <include hint="list:IncludeTemplate" entryTemplate="$(EntryTemplateID)" commentTemplate="$(CommentTemplateID)">
                  <entry>$(entryTemplate)</entry>
                  <comment>$(commentTemplate)</comment>
                </include>
                <multiListFields hint="list:AddMultilistField">
                  <category>category</category>
                </multiListFields>
                <includeFields hint="list:AddDataField">
                  <tags>tags</tags>
                </includeFields>
                <tags>web WeBlog</tags>
              </web>
            </locations>
          </index>
        </indexes>
      </configuration>
    </search>
  </sitecore>
</configuration>
  
<!-- Multi Server Setup:
To have Blog run in a multi-server environment the comment submissions must be posted from the delivery server
through a WCF service hosted by the authoring server. Use the following configuration samples to configure the server
on your authoring server and the client on the delivery server. Configuration must be placed in your web.config file.
The Sitecore patch utility cannot patch non-Sitecore elements.

WCF Server (Sitecore authoring server):

<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Sitecore.Modules.WeBlog.Services.CommentServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Sitecore.Modules.WeBlog.Services.CommentService"
        behaviorConfiguration="Sitecore.Modules.WeBlog.Services.CommentServiceBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="Sitecore.Modules.WeBlog.Services.ICommentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>

WCF Client (Sitecore delivery server):

<configuration>
  <system.serviceModel>
	  <client>
      <endpoint address="http://[authoring server address]/sitecore modules/web/WeBlog/Comment.svc"
        binding="wsHttpBinding" contract="Sitecore.Modules.WeBlog.Services.ICommentService"
        name="WeBlogCommentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>

Replace [authoring server address] above with the address of the application hosting the WCF server (Sitecore 
authoring server).
-->