# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# Other VS user files
*.suo
*.user
*.userprefs

# Local deployment files
deploy.targets

# mstest test results
TestResults

# Local WIP files
todo.txt
license.xml

# Other folders
packages/
.vs/
