# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
build

# Other VS user files
*.suo
*.user
*.userprefs
.vs

# Local deployment files
deploy.targets

# mstest test results
TestResults

# Local WIP files
todo.txt
license.xml

# Log files
*.log

# Theme output
Themes/build

# Package folders
node_modules/
bower_components/
packages/
.vs/
