# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
build

# Other VS files and folders
*.suo
*.user
*.userprefs

# Local deployment files
deploy.targets
deploy.props

# mstest test results
TestResults

# Local WIP files
todo.txt
license.xml

# Log files
*.log

# Theme output
src/Themes/build

# Package folders
node_modules/
bower_components/
/packages/
.vs/
