<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<SitecorePath Condition="'$(Configuration)' == 'Debug 6.2' or '$(Configuration)' == 'Release 6.2'">C:\websites\WeBlog-62\Website</SitecorePath>
		<SitecorePath Condition="'$(Configuration)' == 'Debug 6.4' or '$(Configuration)' == 'Release 6.4'">C:\websites\WeBlog-64\Website</SitecorePath>
		<SitecorePath Condition="'$(Configuration)' == 'Debug 6.6' or '$(Configuration)' == 'Release 6.6'">C:\websites\WeBlog-66\Website</SitecorePath>
	</PropertyGroup>
</Project>