<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup Condition="$(Configuration.Contains('sc8.0'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 8.0\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 8.0\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc8.1'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 8.1\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 8.1\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc8.2'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 8.2\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 8.2\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc9.0'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 9.0\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 9.0\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc9.1'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 9.1\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 9.1\cd\Website</SitecoreCDPath>
	</PropertyGroup>
</Project>