<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup Condition="$(Configuration.Contains('sc7.0'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 7.0\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 7.0\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc7.2'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 7.2\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 7.2\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc7.5'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 7.5\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 7.5\cd\Website</SitecoreCDPath>
	</PropertyGroup>
	
	<PropertyGroup Condition="$(Configuration.Contains('sc8.0'))">
		<SitecorePath>C:\inetpub\WeBlog\Sitecore 8.0\cm\Website</SitecorePath>
		<SitecoreCDPath>C:\inetpub\WeBlog\Sitecore 8.0\cd\Website</SitecoreCDPath>
	</PropertyGroup>
</Project>