@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.CaptchaRenderingModel

<div class="wb-captcha">
    <p>
        <div class="wb-captchaLabel">@Translator.Render("CAPTCHA").ToHtmlString()</div>
        <div class="blog-captcha-image">
            <img src="@Model.ImageSource"/>
    <input type="hidden" name="captcha_challenge_field" value="@Model.ChallengeValue" />
        </div>
    <input type="text" name="captcha_response_field" value="" class="wb-captchaInput" />
    </p>
</div>
