@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.Categories

@if (Model.CategoryItems.Any())
{
    <div class="wb-categories wb-panel">
        <h3>@Translator.Render("CATEGORIES").ToHtmlString()</h3>
        <ul>
            @foreach (var categoryItem in Model.CategoryItems)
            {
                <li>
                    <a href="@categoryItem.GetUrl()">@categoryItem.DisplayTitle.ToHtmlString()</a>
                </li>
            }
        </ul>
    </div>
}