@using Sitecore.Links
@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@using Sitecore.Modules.WeBlog.Search
@using Sitecore.Web
@model Sitecore.Modules.WeBlog.Mvc.Model.InterestingEntries

@if (Model.Entries.Any())
{
    <div class="wb-interesting-entries wb-panel">
        <h3>@Translator.Render("POPULAR_POSTS").ToHtmlString()</h3>
        <ul>
            @foreach (var entry in Model.Entries)
            {
                <li>
                    <a href="@entry.Url">@entry.Title.Rendered.ToHtmlString()</a>
                </li>
            }
        </ul>
        @if (Model.Algororithm != InterestingEntriesAlgorithm.Custom)
        {
            var homeUrl = WebUtil.RemoveQueryString(LinkManager.GetItemUrl(Model.CurrentBlog.InnerItem));
            <a class="wb-view-more" href="@homeUrl?sort=@Model.Mode.ToLower()">
                @Translator.Render("VIEW_MORE").ToHtmlString()
            </a>
        }
    </div>
}