@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@using Sitecore.Modules.WeBlog.Model
@using Sitecore.Modules.WeBlog.Mvc.Model
@model Sitecore.Modules.WeBlog.Mvc.Model.PostList

<div class="wb-entry-list">
    @foreach (var entry in Model.Entries)
    {
        Html.RenderPartial(Model.PostTemplate, new PostListEntry(entry));
    }
    @if (Model.ShowViewMoreLink)
    {
        <div class="wb-view-more-wrapper">
            <a id="ancViewMore" class="wb-view-more" href="@Model.ViewMoreHref">
                @Translator.Render("VIEW_MORE").ToHtmlString()
            </a>
            <span class="wb-loading-animation" style="display: none;">Loading...</span>
        </div>
    }
</div>