@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@using Sitecore.Modules.WeBlog.Mvc

<div class="wb-captcha">
    <div class="wb-captchaLabel">@Translator.Render("CAPTCHA").ToHtmlString()</div>
    @Html.Raw(Html.GenerateReCaptcha("captcha1", "default"))
    @Html.ValidationMessage("captcha1")
</div>
