@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.ShareEntryAddThis

<div class="wb-entry-share wb-panel">
    <h3>@Translator.Render("SHARE").ToHtmlString()</h3>
    <div class="wb-entries">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" @("fb:like:layout=\"button_count\"")></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js@(Model.AddThisAccountName)"></script>
        <!-- AddThis Button END -->
    </div>
</div>