<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration>
        <indexes>
          <index id="WeBlog">
            <configuration>
              <include hint="list:IncludeTemplate">
                <CustomBlogEntry>{1E194C29-026B-40B7-8C85-2CD1FE828F75}</CustomBlogEntry>
                <CustomBlogComment>{D9BF196A-794A-4C53-814D-C36FD1A103D2}</CustomBlogComment>
              </include>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>