<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <WeBlog>
      <DynamicBucketFolderPathSelector>
        <default>
          <includeTemplates>
            <blogHomeWebForms>{46663E05-A6B8-422A-8E13-36CD2B041278}</blogHomeWebForms>
          </includeTemplates>
        </default>
      </DynamicBucketFolderPathSelector>
    </WeBlog>
  </sitecore>
</configuration>