<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" type="Sitecore.Modules.WeBlog.Mvc.Pipelines.RenderRendering.AppendVaryByBlogParameter, Sitecore.Modules.WeBlog.Mvc" />
      </mvc.renderRendering>
    </pipelines>
    <WeBlog>
      <DynamicBucketFolderPathSelector>
        <default>
          <includeTemplates>
            <blogHomeMVC>{0AB5AAD6-6C0F-4F1E-AF20-37571248F7C4}</blogHomeMVC>
          </includeTemplates>
        </default>
      </DynamicBucketFolderPathSelector>
    </WeBlog>
  </sitecore>
</configuration>