<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sitecore.Modules.Eviblog.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sitecore.Modules.Eviblog.Settings>
            <setting name="EntryTemplateID" serializeAs="String">
                <value>{5FA92FF4-4AC2-48E2-92EB-E1E4914677B0}</value>
            </setting>
            <setting name="BlogTemplateID" serializeAs="String">
                <value>{46663E05-A6B8-422A-8E13-36CD2B041278}</value>
            </setting>
            <setting name="CategoryTemplateID" serializeAs="String">
                <value>{61FF8D49-90D7-4E59-878D-DF6E03400D3B}</value>
            </setting>
            <setting name="CommentTemplateID" serializeAs="String">
                <value>{70949D4E-35D8-4581-A7A2-52928AA119D5}</value>
            </setting>
            <setting name="BlogBranchTemplateID" serializeAs="String">
                <value>{6FC4278C-E043-458B-9D5D-BBA775A9C386}</value>
            </setting>
            <setting name="SettingsTemplateID" serializeAs="String">
                <value>{B825C57D-3FC9-46F5-8108-CD139637C88D}</value>
            </setting>
        </Sitecore.Modules.Eviblog.Settings>
    </applicationSettings>
</configuration>