<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <defaultWeBlogSolrIndexConfiguration>
          <documentOptions>
            <include hint="list:AddIncludedTemplate">
              <CustomBlogEntry>{1E194C29-026B-40B7-8C85-2CD1FE828F75}</CustomBlogEntry>
              <CustomBlogComment>{D9BF196A-794A-4C53-814D-C36FD1A103D2}</CustomBlogComment>
            </include>
          </documentOptions>
        </defaultWeBlogSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>