@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization

@if (TempData["Submitted"] != null)
{
    bool submitted = (bool)TempData["Submitted"];
    <div class="@(submitted ? "wb-successtext" : "wb-errortext")">
        <p>
            @if (submitted)
            {
                @Translator.Text("COMMENT_SUBMIT_SUCCESS").ToHtmlString()
            }
            else
            {
                @Translator.Text("COMMENT_SUBMIT_ERROR").ToHtmlString()
            }
        </p>
    </div>
}

