@model Sitecore.Modules.WeBlog.Model.CaptchaRenderingModel

<div class="wb-captcha">
    <p>
        <div class="wb-captchaLabel">Please confirm you are human by typing the text you see in this image</div>
        <div class="blog-captcha-image">
            <img src="@Model.ImageSource"/>
            <input type="hidden" name="captcha_challenge_field" value="@Model.ChallengeValue" />
        </div>
        <input type="text" name="captcha_response_field" value="" class="wb-captchaInput" />
    </p>
</div>
