@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@using Sitecore.Modules.WeBlog.Model
@model PostList

<div class="wb-entry-list wb-panel" id="wb-entry-list">


    <ul class="wb-entry-list-entries">
        @foreach (var entry in Model.Entries)
        {
            Html.RenderPartial(Model.PostTemplate, new PostListEntry(entry));
        }
    </ul>
    <div class="wb-view-more-wrapper" id="wb-view-more-wrapper">
        @if (Model.ShowViewMoreLink)
        {
            <a id="ancViewMore" class="wb-view-more" href="@Model.ViewMoreHref">
                @Translator.Render("VIEW_MORE").ToHtmlString()
            </a>
        }
        <span class="wb-loading-animation" style="display: none;">Loading...</span>
    </div>
</div>