<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <preprocessRequest>

        <processor x:before="*[1]" type="Sitecore.Captcha.RequestProcessor.CaptchaResolver, Sitecore.Captcha"/>

      </preprocessRequest>
    </pipelines>

    <settings>

      <!--  Max Timeout 
            Sets the maximum time when the captcha is expired.
            Default value: "00:01:30" (90 seconds)
	    Minimum value: "00:00:15" (15 seconds)
      -->

      <setting name="Captcha.MaxTimeout" value="00:01:30" />

      <!--  Min Timeout 
            Sets the minimum time after that the captcha can be validated.
            Default value: "00:00:03" (03 seconds)
	    Maximum value: "00:00:15" (15 seconds)
      -->

      <setting name="Captcha.MinTimeout" value="00:00:03" />
      
    </settings>

  </sitecore>
</configuration>