<!--
This field holds the configuration needed by the custom item generator Sitecore module.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
		<customItem>
			<Base.Namespace>Sitecore.Modules.Blog.Items</Base.Namespace>
			<Base.FileOutputPath>C:\VisualStudio\EviBlog2\EviBlog\Website\Items</Base.FileOutputPath>

			<Provider.Namespace>CustomItemGenerator.Providers.TemplateNamespacePrsssovider, CustomItemGenerator</Provider.Namespace>
			<Provider.Filepath>CustomItemGenerator.Providers.TemplatePathFilePathProvider, CustomItemGenerator</Provider.Filepath>

			<FieldMappings>
				<FieldMapping fieldType="Checkbox">CustomCheckboxField</FieldMapping>
				<FieldMapping fieldType="Date">CustomDateField</FieldMapping>
				<FieldMapping fieldType="Datetime">CustomDateField</FieldMapping>
				<FieldMapping fieldType="File">CustomFileField</FieldMapping>
				<FieldMapping fieldType="Image">CustomImageField</FieldMapping>
				<FieldMapping fieldType="Integer">CustomIntegerField</FieldMapping>
				<FieldMapping fieldType="Multi-Line Text">CustomTextField</FieldMapping>
				<FieldMapping fieldType="Number">CustomIntegerField</FieldMapping>
				<FieldMapping fieldType="Password">CustomTextField</FieldMapping>
				<FieldMapping fieldType="Rich Text">CustomTextField</FieldMapping>
				<FieldMapping fieldType="Single-Line Text">CustomTextField</FieldMapping>

				<FieldMapping fieldType="Droplink">CustomLookupField</FieldMapping>
				<FieldMapping fieldType="Droptree">CustomLookupField</FieldMapping>
				<FieldMapping fieldType="General Link">CustomGeneralLinkField</FieldMapping>

				<FieldMapping fieldType="Checklist">CustomChecklistField</FieldMapping>
				<FieldMapping fieldType="Droplist">CustomMultiListField</FieldMapping>
				<FieldMapping fieldType="Grouped Droplink">CustomLookupField</FieldMapping>
				<FieldMapping fieldType="Grouped Droplist">CustomMultiListField</FieldMapping>
				<FieldMapping fieldType="Multilist">CustomMultiListField</FieldMapping>
				<FieldMapping fieldType="SortingMultilist">CustomMultiListField</FieldMapping>
				<FieldMapping fieldType="Treelist">CustomTreeListField</FieldMapping>
				<FieldMapping fieldType="TreelistEx">CustomTreeListField</FieldMapping>
			</FieldMappings>

		</customItem>

      <commands>
          <command name="devtools:generatecustomitem" type="CustomItemGenerator.SitecoreApp.CustomItemGeneratorCommand,CustomItemGenerator" />
      </commands>
  </sitecore>
</configuration>