<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="eviblog:newblog" type="Sitecore.Modules.Eviblog.Commands.NewBlog,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:newentry" type="Sitecore.Modules.Eviblog.Commands.NewEntry,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:newcategory" type="Sitecore.Modules.Eviblog.Commands.NewCategory,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:blogsettings" type="Sitecore.Modules.Eviblog.Commands.EditBlogSettings,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:entrysettings" type="Sitecore.Modules.Eviblog.Commands.EditEntrySettings,Sitecore.Modules.EviBlog"/>
    </commands>
    <settings>
      <!-- EviBlog.CommentService.Enable: 
            Enable this setting to submit comments to a separate server using WCF.
            Used in a multi-server setup
      -->
      <setting name="EviBlog.CommentService.Enable" value="false"/>

      <!-- To use reCAPTCHA instead of the default captcha:
                * In the Entry template's Standard Values, remove the SitecoreCaptcha sublayout
                * Add the reCAPTCHA sublayout to the phBlogCommentForm placeholder
                * Uncomment the settings below and enter your reCAPTCHA keys
                * Publish
      -->
      <!--
      <setting name="EviBlog.reCAPTCHA.PrivateKey" value=""/>
      <setting name="EviBlog.reCAPTCHA.PublicKey" value=""/>
      -->
    </settings>
  </sitecore>
</configuration>
  
<!-- Multi Server Setup:
To have EviBlog run in a multi-server environment the comment submissions must be posted from the delivery server
through a WCF service hosted by the authoring server. Use the following configuration samples to configure the server
on your authoring server and the client on the delivery server. Configuration must be placed in your web.config file.
The Sitecore patch utility cannot patch non-Sitecore elements.

WCF Server (Sitecore authoring server):

<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Sitecore.Modules.Eviblog.Services.CommentServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Sitecore.Modules.Eviblog.Services.CommentService"
        behaviorConfiguration="Sitecore.Modules.Eviblog.Services.CommentServiceBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="Sitecore.Modules.Eviblog.Services.ICommentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>

WCF Client (Sitecore delivery server):

<configuration>
  <system.serviceModel>
	  <client>
      <endpoint address="http://[authoring server address]/sitecore modules/EviBlog/Comment.svc"
        binding="wsHttpBinding" contract="Sitecore.Modules.Eviblog.Services.ICommentService"
        name="EviBlogCommentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>

Replace [authoring server address] above with the address of the application hosting the WCF server (Sitecore 
authoring server).
-->