<?xml version="1.0"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="eviblog:newblog" type="Sitecore.Modules.Eviblog.Commands.NewBlog,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:newentry" type="Sitecore.Modules.Eviblog.Commands.NewEntry,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:newcategory" type="Sitecore.Modules.Eviblog.Commands.NewCategory,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:blogsettings" type="Sitecore.Modules.Eviblog.Commands.EditBlogSettings,Sitecore.Modules.EviBlog"/>
      <command name="eviblog:entrysettings" type="Sitecore.Modules.Eviblog.Commands.EditEntrySettings,Sitecore.Modules.EviBlog"/>
    </commands>
  </sitecore>
</configuration>
  