<?xml version="1.0"?>
<!--
  This file is required for Visual Studio designer support to register the sc control namespace.
  Without this file you must register the Sitecore.Web.UI.WebControls namespace in each sublayout
  -->
<configuration>
  <system.web>
    <!-- Continue to run Sitecore without script validations -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel"/>
        <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Analytics"/>
      </controls>
    </pages>
    <compilation targetFramework="4.0"/>
  </system.web>
</configuration>