<?xml version="1.0" encoding="utf-8"?>

<!--
  This file is required for Visual Studio designer support to register the sc control namespace.
  Without this file you must register the Sitecore.Web.UI.WebControls namespace in each sublayout
  -->

<configuration>
  <system.web>
    <!-- Continue to run Sitecore without script validations -->
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Kernel" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="sc" namespace="Sitecore.Web.UI.WebControls" assembly="Sitecore.Analytics" />
      </controls>
    </pages>
  </system.web>
</configuration>