<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <search>
            <configuration>
                <indexes>
                    <index id="WeBlog" type="Sitecore.Search.Index, Sitecore.Kernel">
                        <locations hint="list:AddCrawler">
                            <master type="Sitecore.Modules.WeBlog.Search.Crawlers.DatabaseCrawler,Sitecore.Modules.WeBlog">
                                <include hint="list:IncludeTemplate" entryTemplate="$(EntryTemplateID)" commentTemplate="$(CommentTemplateID)">
                                    <customEntry>{1E194C29-026B-40B7-8C85-2CD1FE828F75}</customEntry>
                                    <customComment>{D9BF196A-794A-4C53-814D-C36FD1A103D2}</customComment>
                                </include>
                            </master>
                        </locations>
                    </index>
                </indexes>
            </configuration>
        </search>
    </sitecore>
</configuration>
