<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Eviblog.sitecore_modules.EviBlog.CommentBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Eviblog.sitecore_modules.EviBlog.CommentBehavior"
                name="Eviblog.sitecore_modules.EviBlog.Comment">
                <endpoint address="" binding="wsHttpBinding" contract="Eviblog.sitecore_modules.EviBlog.IComment">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
