<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.Initialize.RegisterCommentSubmittedHandler, Sitecore.Modules.WeBlog" resolve="true" />
      </initialize>
      <weblogCreateComment>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.ProfanityFilter"/>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.DuplicateSubmissionGuard"/>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.CreateCommentItem"/>
        <!--<processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.AkismetSpamCheck"/>-->
        <processor type="Sitecore.Modules.WeBlog.Pipelines.CreateComment.WorkflowSubmit"/>
      </weblogCreateComment>
      <weblogProfanityFilter>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.GetProfanityListFromCache"/>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.GetProfanityListFromItem">
          <ItemPath>/sitecore/system/Modules/WeBlog/ProfanityList</ItemPath>
        </processor>
        <!--<processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.GetProfanityListFromFile">
          <FilePath>$(dataFolder)/WeBlogProfanityFilter.txt</FilePath>
        </processor>-->
        <processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.CacheProfanityList"/>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.ValidateInput">
          <WholeWordsOnly>true</WholeWordsOnly>
        </processor>
        <!--<processor type="Sitecore.Modules.WeBlog.Pipelines.ProfanityFilter.FilterWords">
          <Replacement>-_-</Replacement>
          <WholeWordsOnly>true</WholeWordsOnly>
        </processor>-->
      </weblogProfanityFilter>
    </pipelines>
    <settings>
      <!-- WeBlog.CommentSubmitted.HandleLocally:
             Default value: true
             Specifies whether submitted commented should be handled by this instance.
      -->
      <setting name="WeBlog.CommentSubmitted.HandleLocally" value="true"/>

      <!-- The ID of the Workflow command to execute after creating a comment -->
      <setting name="WeBlog.Comments.Workflow.Command.Created" value="{EC5BE18D-B211-4238-BC9D-B1ADC31CFDFB}"/>

      <!-- The ID of the Workflow command to execute if the comment is classified as spam -->
      <setting name="WeBlog.Comments.Workflow.Command.Spam" value="{536C4CA1-B9EB-4CA8-9306-770478E1CCD6}"/>

      <setting name="WeBlog.ProfanityFilter.CacheSize" value="500KB" />
      <setting name="WeBlog.ProfanityFilter.ProfanityListTemplateID" value="{42640783-AA26-4895-9AF1-BAFDACF8CFFD}" />
    </settings>
  </sitecore>
</configuration>
