<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.Initialize.RegisterCommentSubmittedHandler, Sitecore.Modules.WeBlog" resolve="true" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="WeBlog.CommentSubmitted.HandleLocally" value="true"/>
    </settings>
  </sitecore>
</configuration>