<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <defaultWeBlogSolrIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
          <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="tags" returnType="stringArray" />
              <field fieldName="category" returnType="stringCollection"/>
            </fieldNames>
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="weblog tags" returnType="stringArray" />
              <!-- Required for entry_date field so we can store the value in the index to populate on the SearchResultItem -->
              <fieldType fieldTypeName="datetime" returnType="datetime" />
            </fieldTypes>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedField">
              <Tags>{840045E6-AA3F-417C-B53C-0B9841D33B2B}</Tags>
              <Category>{E9697E18-C3C9-47F9-B18D-D25FC1DAD8AF}</Category>
              <EntryDate>{CBDA26A1-E7E5-437A-9FD7-95EF15810E50}</EntryDate>
            </include>
            <include hint="list:AddIncludedTemplate">
              <BlogEntry-WebForms>{5FA92FF4-4AC2-48E2-92EB-E1E4914677B0}</BlogEntry-WebForms>
              <BlogEntry-MVC>{BE9675B1-4951-4E11-B935-A698227B6A97}</BlogEntry-MVC>
              <BlogComment>{70949D4E-35D8-4581-A7A2-52928AA119D5}</BlogComment>
            </include>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="full_created_date" returnType="string">Sitecore.ContentSearch.ComputedFields.CreatedDate, Sitecore.ContentSearch</field>
              <field fieldName="closest_entry_uri" returnType="string">Sitecore.Modules.WeBlog.Search.ComputedFields.ClosestEntry, Sitecore.Modules.WeBlog</field>
            </fields>
          </documentOptions>
          <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="weblog tags" fieldReaderType="Sitecore.Modules.WeBlog.Search.FieldReaders.CsvFieldReader, Sitecore.Modules.WeBlog" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultWeBlogSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>