<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.WeBlog.GenerateFieldEditorUrl" type="Sitecore.Modules.WeBlog.ExperienceEditor.GenerateFieldEditorUrl, Sitecore.Modules.WeBlog"/>
      <request name="ExperienceEditor.WeBlog.GetCurrentBlogId" type="Sitecore.Modules.WeBlog.ExperienceEditor.GetCurrentBlogId, Sitecore.Modules.WeBlog"/>
      <request name="ExperienceEditor.WeBlog.NewEntry" type="Sitecore.Modules.WeBlog.ExperienceEditor.NewEntry, Sitecore.Modules.WeBlog"/>
      <request name="ExperienceEditor.WeBlog.NewCategory" type="Sitecore.Modules.WeBlog.ExperienceEditor.NewCategory, Sitecore.Modules.WeBlog"/>
      <request name="ExperienceEditor.WeBlog.CanExecuteWeBlogCommands" type="Sitecore.Modules.WeBlog.ExperienceEditor.CanExecuteWeBlogCommands, Sitecore.Modules.WeBlog"/>
      <request name="ExperienceEditor.WeBlog.IsEntryItem" type="Sitecore.Modules.WeBlog.ExperienceEditor.IsEntryItem, Sitecore.Modules.WeBlog"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>
