<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <controlSources>
      <source mode="on" namespace="Sitecore.Modules.WeBlog.Fields" assembly="Sitecore.Modules.WeBlog" prefix="weblog" />
    </controlSources>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="WordPressImport">Sitecore.Modules.WeBlog.Controllers.WordPressImportController, Sitecore.Modules.WeBlog</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Modules.WeBlog.EventHandlers.SyncBucket, Sitecore.Modules.WeBlog" method="OnItemSaved" />
      </event>
    </events>
    <commands>
      <command name="blog:import" type="Sitecore.Modules.WeBlog.Commands.Import,Sitecore.Modules.WeBlog"/>
    </commands>
    <pipelines>
      <getLookupSourceItems>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']"
                   type="Sitecore.Modules.WeBlog.Pipelines.GetLookupSourceItems.ResolveTokens, Sitecore.Modules.WeBlog" />
      </getLookupSourceItems>
      <expandInitialFieldValue>
        <processor type="Sitecore.Modules.WeBlog.Pipelines.ExpandInitialFieldValue.ResolveTokens, Sitecore.Modules.WeBlog" />
      </expandInitialFieldValue>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Modules.WeBlog.Pipelines.RenderContentEditor.InjectTagFieldAssets, Sitecore.Modules.WeBlog" >
          <stylesheets hint="raw:AddStylesheet">
            <file src="/sitecore modules/web/weblog/tagfield/tagfield.css"/>
            <file src="/sitecore modules/web/weblog/tagfield/chosen.min.css"/>
          </stylesheets>
          <scripts hint="raw:AddScript">
            <file src="/sitecore modules/web/weblog/tagfield/tagField.js"/>
            <file src="/sitecore modules/web/weblog/tagfield/chosen.jquery.js"/>
          </scripts>
        </processor>
      </renderContentEditor>
    </pipelines>
    <settings>
      <!--Buckets-->
      <setting name="BucketConfiguration.DynamicBucketFolderPath">
        <patch:attribute name="value">Sitecore.Modules.WeBlog.Buckets.DynamicBucketFolderPathSelector, Sitecore.Modules.WeBlog</patch:attribute>
      </setting>
    </settings>
    <WeBlog>
      <DynamicBucketFolderPathSelector>
        <default>
          <!--<includeTemplates></includeTemplates>-->
          <!--All paths must be lower case-->
          <!--<paths>
            <path>/sitecore/content/home/bucket</path>
          </paths>-->
          <handler type="Sitecore.Modules.WeBlog.Buckets.DateBucketFolderPath,Sitecore.Modules.WeBlog">
            <FieldName>Entry Date</FieldName>
            <Format>yyyy/MMMM</Format>
          </handler>
          <!--<handler type="Sitecore.Modules.WeBlog.Buckets.CategoryBucketFolderPath,Sitecore.Modules.WeBlog">
            <FieldName>Category</FieldName>
            <Default>UN</Default>
          </handler>-->
        </default>
      </DynamicBucketFolderPathSelector>
    </WeBlog>
  </sitecore>
</configuration>
